*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: #6ac4ee;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Logo a{
    font-size: 2rem;
    color: black;
    text-decoration: none;
}

.menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li{
    margin: 0 2rem;
}

.menu li a{
    color: rgb(181, 100, 192);
    text-decoration: none;
}

.maincontent{
    background-color: rgb(44, 132, 167);
    padding: 2rem 0;
}

.maincontent-con{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.maincontent-info{
    width: 100%;
    padding: 2rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1rem 0;
}

.maincontent-info .maincontent-btn{
    background-color: rgb(99, 194, 146);
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

.maincontent-img img{
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
}

.content-item img{
    width: 50%;
}

.content-item h4{
    margin: 1rem 0;
}

.content-item p{
    margin: 1rem 0;
}

.content-item a{
    display: inline-block;
    color: rgb(197, 124, 136);
    background-color: #abc472;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
}


.footer-top{
    background-color: rgb(202, 147, 173);
    padding: 3rem 0;
    margin-top: 2rem;
}

.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}


.footer-top-item {
    margin-bottom: 2rem;
}


.footer-top-item-con{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.footer-top-item-con .date{
    background-color: #abc472;
    color: #333;
    padding: 0.5rem;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
    min-width: 55px;
}


.footer-top-item h4{
    margin-bottom: 1rem;
}


.footer-top-item:nth-child(2) h4,
    color: #5c2f68;
.footer-top-item:nth-child(3) h4{
    color: #020b11;
   margin-right: 1rem;
}

.footer-button{
    background-color: #5c2f68;
padding: 1rem;
text-align: center;

}

